.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal";
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}
.padButton:hover {
  border: 1px solid white;
}
.dark-gray {
  background-color: #333;
}
.tomato {
  background-color: tomato;
}
.blue {
  background-color: blue;
}
.dis {
  grid-area: dis;
  background-color: black;
  text-align: right;
  font-size: 20px;
}
.dis input {
  width: 90%;
  color: white;
  padding: 5px;
  text-align: right;
}
input::placeholder {
  color: white;
}
.zero {
  grid-area: zero;
}
.equal {
  grid-area: equal;
}

.total {
  padding: 5px 20px;
  /* margin: 15px; */
  color: yellow;
}
